/*The complete body and html adjustments*/

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image:url("/home/asmita/CollegeProject/images/background.svg");

  /* Full height */
  height: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*The complete navigation and navbar adjustments*/

.navbar-brand{


text-align:left;
font-weight:600;
font-size:2.6em;
margin-top:0%;
margin-left:0px;
}



/*All the three column adjustments for the complete page*/

.LeftColumn{
float:left;
background-image:url("/home/asmita/CollegeProject/images/background.svg");
width:20%;
height:100%;
}

.MiddleColumn{
float:left;
background:#071B2F;
width:60%;
height:100%;
}

.RightColumn{
float:right;
background-image:url("/home/asmita/CollegeProject/images/background.svg");
width:20%;
height:100%;
}

/* The button adjustments in the left column*/
.btn-block{

background-color:transparent;
color:white;

}

.btn-primary .btn-block:hover{
background:transparent;
}

.btn-outline{

background:transparent;
padding:12px 22px;
}
.btn-primary-outline{
border:transparent;
color:#071B2F;

}

#ButtonOne{
border-radius:2em;
display:inline-block;


}

#ButtonTwo{
border-radius:2em;
display:inline-block;
}

#ButtonThree{
border-radius:2em;
display:inline-block;

}

.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}


/*.ProfilePicture {
  display: block;
  margin-left: auto;
  margin-top:40px;
  margin-right: auto;
  width: 60%;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: solid 4px lightblue;
}
*/
